<mat-card>       
    <mat-card-title>    
        Register  
    </mat-card-title>    
    <mat-card-content>    
      <form (submit)="onRegisterSubmit()">
        <div>
          <mat-form-field>
            <input type="text" matInput [(ngModel)]="name" name="name" placeholder="Full Name"/>
          </mat-form-field>
        </div>  
        <div>
          <mat-form-field>
            <input type="text" matInput [(ngModel)]="username" name="username" placeholder="User Name">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input type="text" matInput [(ngModel)]="email" name="email" placeholder="Email">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input type="password" matInput [(ngModel)]="password" name="password" placeholder="Password"/>
          </mat-form-field>
        </div>
        <button mat-button color="primary" type="submit">Register</button>
      </form>
    </mat-card-content>    
</mat-card>   

