mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}
mat-sidenav {
  width: 250px;
}
a {
  text-decoration: none;
  color: lightgray;
}
a:hover,
a:active {
  color: white;
}
.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.icon {
  display: inline-block;
  height: 28px;
  margin: 0 auto;
  padding-right: 4px;
  text-align: center;
  vertical-align: middle;
  width: 15%;
  margin-right: 0.7rem;
}

.label {
  display: inline-block;
  line-height: 30px;
  margin: 0;
  width: 85%;
}
.te_img{
  width: 3rem;
  height: 2rem;
}