<mat-sidenav-container>
    <mat-sidenav-content>
      <mat-toolbar class="cyan darken-4 fixed-top">    
       <div>
         <a>
            <img class="animated rollIn te_img" data-wow-delay="1s" src="../../../assets/img/te.png">
         </a>
       </div>
       <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
          <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <a [routerLink]="['/']">        
                <!-- <i class="material-icons icon">home</i>    -->
                <span class="label">Home</span>
              </a>
            </li>
            <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <a [routerLink]="['/dashboard']">
                <!-- <i class="material-icons icon">dashboard</i>                  -->
                <span class="label">Dashboard</span>
              </a>
            </li>
            <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <a [routerLink]="['/angular']">
                <!-- <i class="material-icons icon"></i> -->
                <span class="label">Angular Note</span>
              </a>
            </li>
            <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <a [routerLink]="['/profile']">
                <!-- <i class="material-icons icon">account_circle</i>             -->
                <span class="label">profile</span>
              </a>
            </li>
            <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <a [routerLink]="['/login']">
                <!-- <i class="material-icons icon">link</i> -->
                <span class="label">Sign in</span>
              </a>
            </li>
            <li>
              <a *ngIf="!authService.loggedIn()" [routerLink]="['/register']">
                <!-- <i class="material-icons icon">list_alt</i>   -->
                <span class="label">Register</span>
              </a>
            </li>
            <li *ngIf="authService.loggedIn()"[routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <a (click)="onLogoutClick()" [routerLink]="['/login']">
                <!-- <i class="material-icons icon">link_off</i> -->
                <span class="label">Sign out</span>
              </a>
            </li>
          </ul>
       </div>
      </mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
