<body>
  <mat-grid-list cols="1" rows="2" rowHeight="10rem">
    <mat-grid-tile>
      <div>
        <h1>MEAN APP</h1>
        <h2>Welcome to Martin's MEAN Application</h2>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <button mdbBtn type="button" color="info" outline="true"class="waves-light" mdbWavesEffect [routerLink]="['/register']">Register</button>
        <button mdbBtn type="button" color="cyan" class="=waves-light" mdbWavesEffect [routerLink]="['/login']">Sign in</button>
      </div>
    </mat-grid-tile>  
  </mat-grid-list>
  <mat-grid-list cols="3" rowHeight="1:1">
      <mat-grid-tile>
        <div class="view z-depth-4 hoverable">
          <img src="../../../assets/img/nodejs.png" class="img-fluid animated rollIn" data-wow-delay="1s">
          <div class="mask flex-center rgba-black-strong">
            <h3 class="white-text">Node and Express Backend</h3>
            <p class="white-text">A rock solid node.js/Express server using Mongoose</p>  
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="view zoom z-depth-4 hoverable">
          <img src="../../../assets/img/angular6.png" class="img-fluid bounceOut" data-wow-delay="1s">
          <div class="mask flex-center rgba-black-strong ">
            <h3 class="white-text">Angular Frontend</h3>
            <p class="white-text">Angular-CLI to generate components, services and more</p>  
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="view zoom z-depth-4 hoverable">
            <img src="../../../assets/img/mongodb.png" class="img-fluid animated slideInRight" data-wow-delay="1s">
            <div class="mask flex-center rgba-black-strong">
              <h3 class="white-text">MongoDB</h3>
              <p class="white-text">Document-oriented database using ses JSON-like documents with schemata</p>  
            </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </body>
  