body {
    margin:0.5em;
}
button {
    margin-left: 1em;
}
mat-grid-tile{
    margin-top:2rem;
}
.mat-stroked-button{
    background:#3f51b5;
    color: lightgrey;
    border: none;    
} 
.mat-stroked-button:hover{
    background:white;
    color:#3f51b5;
    border: none;   
}
.mat-button:hover{
    background:white;
}

img{
    vertical-align: middle;
    border-style: none;
    visibility: visible;
}
.mat-card{
    background:no-repeat;
}

h3, p {
    margin-left: 2rem;
}
