<div class="mt-5">
    <br>
    <h1 class="header">Angular Notes</h1>
  </div>
  <button mdbBtn name="button "color="blue" class="waves-light ml-3" size="md" mdbWavesEffect (click)="newNoteForm()"> New Post</button>
  <button [disabled]="loadingNote" mdbBtn name="button" color="yellow" class="waves-light" size="md" mdbWavesEffect *ngIf="!newPost" (click)="reloadNotes()">
  <mdb-icon icon="repeat" class="mr-1"></mdb-icon>Reload</button>
  
  <!-- New Note Form -->
  
  <mdb-card class="text-left mx-3">
    <mdb-card-header class="cyan white-text">
      <h4>Featured</h4>
    </mdb-card-header>
    <mdb-card-body *ngIf="!newPost" class="p-2 m-0">
      <mdb-card-title>
        <h4>Special title treatment</h4>
      </mdb-card-title>
      <mdb-card-text>
        With supporting text below as a natural lead-in to additional content.
      </mdb-card-text>
      <mdb-card-text class="text-right">
        <a mdbBtn color="purple" size="md" class="waves-light" mdbWavesEffect>Edit</a>
        <a mdbBtn color="danger" size="md" class="waves-light"  mdbWavesEffect>Delete</a>
      </mdb-card-text>
    </mdb-card-body>
    <mdb-card-footer class="text-muted cyan white-text">
      <p class=""><strong>Posted by: </strong>Martin Hwang</p>
      <p class=""><strong>Date:</strong></p>
    </mdb-card-footer>
  </mdb-card>