mat-card {    
    max-width: 60%;    
    margin: 2em auto;    
    text-align: center; 
    background:  rgba(211, 211, 211, 0.685);   
}
.mat-stroked-button{
    background:#3f51b5;
    color: lightgrey;
    border: none;    
} 
.mat-stroked-button:hover{
    background:white;
    color:#3f51b5;
    border: none;   
}    
