<mat-card>
    <mat-card-title>
        Welcome Sign in 
    </mat-card-title>
    <mat-card-content>
        <form (submit)="onLoginSubmit()">
            <div>
                <mat-form-field>
                    <input type="text" matInput [(ngModel)]="username" name="username" placeholder="User Name">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input type="password" matInput [(ngModel)]="password" name="password" placeholder="Password">
                </mat-form-field>
            </div>
            <button mat-stroked-button color="primary" type="submit">Sign in</button>
        </form>
    </mat-card-content>
</mat-card>