mat-card {    
    max-width: 60%;    
    margin: 2em auto;    
    text-align: center; 
    background:  rgba(211, 211, 211, 0.685);   
}
.mat-card-title{
    text-align: left;
}
.mat-card-title > h3 {
    margin: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}