<div *ngIf="username"  rowHeight="10rem">
  <mat-card>
    <mat-card-title>
      <h3>Profile</h3>
    </mat-card-title>
    <mat-card-content>
      <h3>{{name}}</h3>
      <ul>
        <li>Username: {{username}}</li>
        <li>Email: {{email}} </li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>